spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/book_s_network
    username: amrox
    password: password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  mail:
    host: localhost
    port: 1025
    username: amrox
    password: amrox
    properties:
      mail:
        smtp:
          trust: "*"
        auth: true
        starttls:
          enabled: true
        connectiontimeout: 5000
        timeout: 3000
        writetimeout: 5000
jwt:
  secret: ${JWT_SECRET}
  accessTokenExpiration: 7200
  refreshTokenExpiration: 604800